.index-faq.c-container
    .index-faq__title
        h2 Ответы на популярные <div class="c-accient">вопросы</div>
    .index-faq__items
        .index-faq__item.index-faq__item--active
            .index-faq__item-outer
                .index-faq__item-title
                    span Какие факторы учитываются при рассмотрении сделки?
                .index-faq__item-arrow
                    +icon("faq-arrow")
            .index-faq__item-inner При рассмотрении сделки принимаются во внимание кредитные, имущественные и юридические риски. Основное внимание уделяется кредитным рискам: их уровень зависит от финансовых показателей лизингополучателя и от условий лизинговой сделки. Имущественные риски связаны с ликвидностью и справедливой рыночной стоимостью предмета лизинга. Юридические — с легитимностью прав собственности поставщика техники, полномочий представителей сторон, юридической чистотой сделки.
        .index-faq__item
            .index-faq__item-outer
                .index-faq__item-title
                    span Какой минимальный аванс?
                .index-faq__item-arrow
                    +icon("faq-arrow")
            .index-faq__item-inner При рассмотрении сделки принимаются во внимание кредитные, имущественные и юридические риски. Основное внимание уделяется кредитным рискам: их уровень зависит от финансовых показателей лизингополучателя и от условий лизинговой сделки. Имущественные риски связаны с ликвидностью и справедливой рыночной стоимостью предмета лизинга. Юридические — с легитимностью прав собственности поставщика техники, полномочий представителей сторон, юридической чистотой сделки.
        .index-faq__item
            .index-faq__item-outer
                .index-faq__item-title
                    span Могу ли я досрочно закрыть лизинг?
                .index-faq__item-arrow
                    +icon("faq-arrow")
            .index-faq__item-inner При рассмотрении сделки принимаются во внимание кредитные, имущественные и юридические риски. Основное внимание уделяется кредитным рискам: их уровень зависит от финансовых показателей лизингополучателя и от условий лизинговой сделки. Имущественные риски связаны с ликвидностью и справедливой рыночной стоимостью предмета лизинга. Юридические — с легитимностью прав собственности поставщика техники, полномочий представителей сторон, юридической чистотой сделки.
        .index-faq__item
            .index-faq__item-outer
                .index-faq__item-title
                    span Работаете ли вы с б/у техникой?
                .index-faq__item-arrow
                    +icon("faq-arrow")
            .index-faq__item-inner При рассмотрении сделки принимаются во внимание кредитные, имущественные и юридические риски. Основное внимание уделяется кредитным рискам: их уровень зависит от финансовых показателей лизингополучателя и от условий лизинговой сделки. Имущественные риски связаны с ликвидностью и справедливой рыночной стоимостью предмета лизинга. Юридические — с легитимностью прав собственности поставщика техники, полномочий представителей сторон, юридической чистотой сделки.
        .index-faq__item
            .index-faq__item-outer
                .index-faq__item-title
                    span Что произойдет если я утрачу возможность платить по лизинговому договору?
                .index-faq__item-arrow
                    +icon("faq-arrow")
            .index-faq__item-inner При рассмотрении сделки принимаются во внимание кредитные, имущественные и юридические риски. Основное внимание уделяется кредитным рискам: их уровень зависит от финансовых показателей лизингополучателя и от условий лизинговой сделки. Имущественные риски связаны с ликвидностью и справедливой рыночной стоимостью предмета лизинга. Юридические — с легитимностью прав собственности поставщика техники, полномочий представителей сторон, юридической чистотой сделки.
        .index-faq__item
            .index-faq__item-outer
                .index-faq__item-title
                    span В каких регионах вы работаете?
                .index-faq__item-arrow
                    +icon("faq-arrow")
            .index-faq__item-inner При рассмотрении сделки принимаются во внимание кредитные, имущественные и юридические риски. Основное внимание уделяется кредитным рискам: их уровень зависит от финансовых показателей лизингополучателя и от условий лизинговой сделки. Имущественные риски связаны с ликвидностью и справедливой рыночной стоимостью предмета лизинга. Юридические — с легитимностью прав собственности поставщика техники, полномочий представителей сторон, юридической чистотой сделки.
        .index-faq__item
            .index-faq__item-outer
                .index-faq__item-title
                    span Какие требования к компании-клиенту?
                .index-faq__item-arrow
                    +icon("faq-arrow")
            .index-faq__item-inner При рассмотрении сделки принимаются во внимание кредитные, имущественные и юридические риски. Основное внимание уделяется кредитным рискам: их уровень зависит от финансовых показателей лизингополучателя и от условий лизинговой сделки. Имущественные риски связаны с ликвидностью и справедливой рыночной стоимостью предмета лизинга. Юридические — с легитимностью прав собственности поставщика техники, полномочий представителей сторон, юридической чистотой сделки.