.index-news.c-container
    .index-news__title
        h2 Новости
    .index-news__cards
        .index-news__card-big
            .index-news__card-big-content
                .index-news__card-big-title
                    span Как изменения в налоговом кодексе будут влиять на ставку лизинга
                .index-news__card-big-date
                    span 20 ноября
            .index-news__card-big-logo
                img(src="./img/index-news__card-big-logo.svg", alt="logo")
        .index-news__card
            .index-news__card-image
                img(src="https://placehold.co/600x400.webp", alt="image")
            .index-news__card-content
                .index-news__card-title
                    span Лизинг или кредит: что выгоднее для ООО в 2025 году?
                    +icon("index-news__card-title-arrow")
                .index-news__card-date
                    span 11 ноября
        .index-news__card
            .index-news__card-image
                img(src="https://placehold.co/600x400.webp", alt="image")
            .index-news__card-content
                .index-news__card-title
                    span Портфель Финтех Лизинг превысил 1,2 млрд в сентября
                    +icon("index-news__card-title-arrow")
                .index-news__card-date
                    span 9 ноября