.index-advantages.c-container
    .index-advantages__title-n-image
        .index-advantages__title
            h2 Преимущества
        .index-advantages__image
            img(src="./img/advantages__image.webp", alt="advantages__image")
    .index-advantages__items
        .index-advantages__item
            .index-advantages__item-title
                span Сохраним оборотные средства
            .index-advantages__item-desc
                span Не платите всю сумму сразу, а выберите комфортный аванс для старта
        .index-advantages__item
            .index-advantages__item-title
                span Поможем подобрать предмет лизинга
            .index-advantages__item-desc
                span Наши эксперты будут с вами на протяжении всей сделки, от подбора предмета лизинга до полного погашения договора
        .index-advantages__item
            .index-advantages__item-title
                span Оптимизируем баланс компании
            .index-advantages__item-desc
                span Вы сможете возместить НДС и налог с прибыли