.index-process.c-container
    .index-process__leasing
        .index-process__leasing-title
            h2 Как оформить <div class="c-accient">лизинг</div>
            button.button Заказать звонок
        .index-process__leasing-cards
            .index-process__leasing-card
                .index-process__leasing-card-number
                    span 01
                .index-process__leasing-card-title
                    span Оформите заявку
                .index-process__leasing-card-description
                    span Заполните форму на сайте и получите от нас полный расчёт
            .index-process__leasing-card
                .index-process__leasing-card-number
                    span 02
                .index-process__leasing-card-title
                    span Соберите документы
                .index-process__leasing-card-description
                    span Подготовьте перечень необходимых документов
            .index-process__leasing-card
                .index-process__leasing-card-number
                    span 03
                .index-process__leasing-card-title
                    span Заключите договор
                .index-process__leasing-card-description
                    span Подпишите договор внесите аванс
            .index-process__leasing-card
                .index-process__leasing-card-number
                    span 04
                .index-process__leasing-card-title
                    span Заберите предмет лизинга
                .index-process__leasing-card-description
                    span Продолжайте развивать бизнес
    .index-process__nalog
        .index-process__nalog-title
            h2 Как надо экономить <div class="c-accient">на налогах</div>
        .index-process__nalog-image
            img(src="./img/process__nalog-image.webp", alt="index-process__nalog-image")
        .index-process__nalog-cards
            .index-process__nalog-card-long
                .index-process__nalog-card-title Возврат <br>НДС (20%)
                .index-process__nalog-card-description Все лизинговые платежи включают НДС, который вы принимаете к вычету в полном объёме.
            .index-process__nalog-card-blue
                .index-process__nalog-card-title Снижение налога<br> на прибыль (20%)
                .index-process__nalog-card-description Лизинговые платежи относятся на себестоимость, уменьшая налогооблагаемую базу вашей компании.
            .index-process__nalog-card-def
                .index-process__nalog-card-def-title Пример:
                .index-process__nalog-card-def-description При покупке спецтехники стоимостью 10 000 000 ₽, ваша совокупная экономия на налогах составит до 4 000 000 ₽