.index-banner.c-container
    .index-banner__content
        .index-banner__title
            h1 Лизинговые инструменты с решением <div class="c-accient">за&nbsp;1&nbsp;час!</div>
        .index-banner__buttons
            button.button.button--large Оставить заявку
            a(href="#").button.button--outline.button--large Рассчитать график
        .index-banner__cards
            .index-banner__card.index-banner__card-1
                .index-banner__card-text
                    span Аванс от
                .index-banner__card-value
                    span 0%
            .index-banner__card.index-banner__card-2
                .index-banner__card-text
                    span Сроком до
                .index-banner__card-value
                    span 5 лет
            .index-banner__card.index-banner__card-3.index-banner__card--large
                .index-banner__card-text
                    span Финансирование от
                .index-banner__card-value
                    span 100 тыс.
    .index-banner__image
        img(src="./img/main-banner.webp", alt="main-banner")