.index-numbers
    .c-container
        .index-numbers__title
            h2 ФИНТЕХ ЛИЗИНГ в цифрах
        .index-numbers__cards
            .index-numbers__card.index-numbers__card--1
                .index-numbers__card-value
                    span 1,2<div class="c-accient">+</div>
                .index-numbers__card-title
                    span млрд рублей
                .index-numbers__card-desc
                    span лизинговый портфель компании
            .index-numbers__card.index-numbers__card--2
                .index-numbers__card-value
                    span 850<div class="c-accient">+</div>
                .index-numbers__card-title
                    span миллионов
                .index-numbers__card-desc
                    span ЧИЛ компании
            .index-numbers__card.index-numbers__card--3
                .index-numbers__card-value
                    span 150<div class="c-accient">+</div>
                .index-numbers__card-title
                    span клиентов
            .index-numbers__card.index-numbers__card--4
                .index-numbers__card-value
                    span 36
                .index-numbers__card-title
                    span месяцев
                .index-numbers__card-desc
                    span средний срок договора по лизингу
