@font-face {
  font-family: "Golos";
  src: url("/fonts/GolosText/GolosText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Golos";
  src: url("/fonts/GolosText/GolosText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Golos";
  src: url("/fonts/GolosText/GolosText-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Golos";
  src: url("/fonts/GolosText/GolosText-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Golos";
  src: url("/fonts/GolosText/GolosText-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Golos";
  src: url("/fonts/GolosText/GolosText-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
}
