.footer {
  background-color: #383838;
  color: #fff;
  &__desktop {
    padding-top: 2.5rem;
    padding-bottom: 2.875rem;
    margin-left: -0.5rem;
    &-top {
      display: flex;
      justify-content: space-between;
    }
    &-mid {
      margin-top: 2.375rem;
    }
    &-bottom {
      margin-top: 4.3125rem;
      &-top {
        display: flex;
        justify-content: space-between;
        &-left {
          display: flex;
          gap: 1.5rem;
        }
        &-right {
          display: flex;
          gap: 0.5625rem;
        }
      }
      &-bottom {
        width: 43.5rem;
        margin-top: 1.25rem;
        font-weight: 400;
        font-size: 0.875rem;
        color: #878888;
        opacity: 0.52;
      }
    }
    &-menu {
      ul {
        display: flex;
        gap: 3.4125rem;
        font-weight: 500;
        font-size: 1.25rem;
        letter-spacing: -0.04em;
      }
    }
    &-logo {
      width: 12.9375rem;
      margin-top: 0.125rem;
      line-height: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-contacts {
      display: flex;
      gap: 3.85rem;
    }
    &-email {
      font-weight: 400;
      font-size: 2.25rem;
      letter-spacing: -0.04em;
      text-transform: uppercase;
    }
    &-phone {
      font-weight: 400;
      font-size: 2.25rem;
      letter-spacing: -0.04em;
      text-transform: uppercase;
    }
    &-copyright {
      font-weight: 400;
      font-size: 0.875rem;
      color: #878888;
    }
    &-policy {
      font-weight: 400;
      font-size: 0.875rem;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: #878888;
    }
    &-pr {
      &-name {
        font-weight: 400;
        font-size: 0.875rem;
        color: #878888;
      }
      &-link {
        font-weight: 400;
        font-size: 0.875rem;
        text-transform: uppercase;
        text-decoration: underline;
        text-decoration-skip-ink: none;
      }
    }
  }
}
