.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100vw;
  padding-top: 3.125rem;
  padding-bottom: 1.875rem;
  border-bottom: 1px solid #0000001c;
  background-color: #fff;
  &__block {
    display: flex;
    align-items: center;
  }
  &__logo {
    height: 3.75rem;
    margin-right: 4.01875rem;
    margin-left: -0.4rem;
  }
  &__menu {
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: -0.015em;
    color: #383838;
    &-dropdown {
      &-outer {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        padding: 0.9375rem 1.5625rem;
        padding-left: 2.5rem;
        border-radius: 0.75rem;
        background-color: #f4f8ff;
        .icon {
          width: 1.25rem;
          height: 1.25rem;
        }
      }
      &-inner {
        display: none;
      }
    }
    ul {
      display: flex;
      align-items: center;
      gap: 2.1875rem;
      li {
      }
    }
  }
  &__email {
    font-weight: 700;
    font-size: 1rem;
    color: #383838;
    margin-left: auto;
    margin-right: 4.01875rem;
  }
  &__button {
    margin-right: -0.4rem;
  }
}
