:root {
  scroll-behavior: auto;
}

@import "./service/fonts.scss";
@import "./service/media-mixin.scss";
@import "./service/reset.scss";

html {
  font-size: calc(16 * 100vw / 1920);
  @include max-lg {
    font-size: calc(16 * 100vw / 375);
  }
}

main {
  min-height: 60vh;
}
body {
  font-family: "Golos", sans-serif;
  background-color: #ffffff;
  color: #383838;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.c-container {
  max-width: 107.25rem;
  margin: 0 auto;
  @include max-lg {
    max-width: 21.4375rem;
  }
}

.c-accient {
  display: inline;
  color: #1cb4ff;
}

.btn_shine {
  position: relative;
  text-decoration: none;
  overflow: hidden;
}
.btn_shine:hover:after {
  opacity: 1;
  top: -110%;
  left: 60%;
  transition-property: left, top, opacity;
  transition-duration: 1.3s, 1.3s, 0.18s;
  transition-timing-function: ease;
}

.btn_shine::after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0) 100%
  );
}

.button {
  padding: 0.9375rem 2.5rem;
  border-radius: 0.75rem;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: -0.02em;
  color: #fff;
  background-color: #1cb4ff;
  outline: unset;
  &--large {
    padding: 1.25rem 2.875rem;
    font-weight: 500;
    font-size: 1.125rem;
  }
  &--outline {
    outline: 1px solid #1cb4ff;
    background-color: #fff;
    color: #383838;
  }
}

.c-checkbox {
  width: 1rem;
  height: 1rem;
  border: 2px solid #1cb4ff;
  border-radius: 0.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  &-wrap {
    line-height: 0;
    input {
      display: none;
      &:checked + .c-checkbox {
        background: #1cb4ff;
      }
      &:checked + .c-checkbox .c-checkbox-icon {
        opacity: 1;
      }
    }
  }
  &-icon {
    width: 12px;
    height: 8.5px;
    opacity: 0;
    transition: 0.2s;
  }
}
.aialantonov {
  display: block;
  display: flex;
}
@import "./chunk/header.scss";
@import "./chunk/footer.scss";
@import "./chunk/page-loader.scss";

//@import "./pages/contacts.scss";
//@import "./pages/news.scss";
//@import "./pages/news-detail.scss";
//@import "./pages/catalog.scss";
//@import "./pages/catalog-detail-1.scss";
//@import "./pages/catalog-detail-2.scss";
//@import "./pages/catalog-detail.scss";
