.page-loader
    .spinner
footer.footer
    .c-container
        .footer__desktop
            .footer__desktop-top
                .footer__desktop-logo
                    img(src="./img/logo.svg", alt="logo")
                .footer__desktop-contacts
                    a(href="mailto: client@fintech-leasing.ru").footer__desktop-email client@fintech-leasing.ru
                    a(href="tel: 8 (800) 999 99 00").footer__desktop-phone 8 (800) 999 99 00
            .footer__desktop-mid
                nav.footer__desktop-menu
                    ul
                        li
                            a(href="#") Услуги
                        li
                            a(href="#") Спецпредложения
                        li
                            a(href="#") О компании
                        li
                            a(href="#") Клиентам
                        li
                            a(href="#") Контакты
            .footer__desktop-bottom
                .footer__desktop-bottom-top
                    .footer__desktop-bottom-top-left
                        .footer__desktop-copyright
                            span © Все права защищены
                        a(href="#").footer__desktop-policy Политика конфиденциальности
                    .footer__desktop-bottom-top-right
                        .footer__desktop-pr-name
                            span Дизайн и разработка
                        a(href="#").footer__desktop-pr-link PR-Volga
                .footer__desktop-bottom-bottom
                    span Информация, размещенная на сайте носит исключительно информационный характер и не является публичной офертой, определяемой положениями ст. 437 ГК РФ.
        .footer__mobile
            .footer__mobile-top
                .footer__mobile-logo
                    img(src="./img/logo.svg", alt="logo")
                a(href="tel: 8 (800) 999 99 00").footer__mobile-phone 8 (800) 999 99 00
            .footer__mobile-menus
            .footer__mobile-email
            .footer__mobile-copy-n-pr
            .footer__mobile-info
                span Информация, размещенная на сайте носит исключительно информационный характер и не является публичной офертой, определяемой положениями ст. 437 ГК РФ.