header
    .header-desktop
        .c-container
            .header-desktop__block
                a(href="#").header-desktop__logo
                    img(src="./img/logo.svg", alt="логотип")
                nav.header-desktop__menu
                    ul
                        li.header-desktop__menu-dropdown
                            a(href="#").header-desktop__menu-dropdown-outer
                                span Услуги
                                +icon("dropdown-arrow")
                            .header-desktop__menu-dropdown-inner
                                span span
                        li
                            a(href="#") О компании
                        li
                            a(href="#") Спецпредложения
                        li
                            a(href="#") Клиентам
                        li
                            a(href="#") Контакты
                .header-desktop__email
                    a(href="mailto: client@fintech-leasing.ru") client@fintech-leasing.ru
                .header-desktop__button
                    a(href="#").button Заказать звонок 
    .header-mobile
        .c-container
            .header-mobile__block
                a(href="#").header-mobile__logo
                    img(src="./img/logo.svg", alt="логотип")
                .header-mobile__button-n-menu
                    .header-mobile__button
                        a(href="#").button Заказать звонок 
                    .header-mobile__burger
                        button
                            +icon("burger")
                            +icon("burger-close")
        .header-mobile__menu
            .c-container
                .header-mobile__menu-wrap
                    .header-mobile__menu-menus
                        .header-mobile__menu-menu
                            .header-mobile__menu-menu-title
                                span Услуги:
                            ul.header-mobile__menu-menu-list
                                li
                                    a(href="#") Лизинг спецтехники
                                li
                                    a(href="#") Лизинг автомобилей
                                li
                                    a(href="#") Лизинг оборудования
                                li
                                    a(href="#") Лизинг недвижимости
                        .header-mobile__menu-menu
                            .header-mobile__menu-menu-title
                                span Навигация:
                            ul.header-mobile__menu-menu-list
                                li
                                    a(href="#") О компании
                                li
                                    a(href="#") Спецпредложения
                                li
                                    a(href="#") Клиентам
                                li
                                    a(href="#") Контакты
                    .header-mobile__menu-contacts
                        a(href="tel: 8 (800) 999 99 00") 8 (800) 999 99 00
                        a(href="mailto: client@fintech-leasing.ru") client@fintech-leasing.ru
                    .header-mobile__menu-button
                        button.button Заказать звонок