@import "../service/media-mixin.scss";

.index-numbers {
  background-color: #f4f8ff;
  border-top: 1px solid #d9d9d9;
  padding-top: 5.15rem;
  @include max-lg {
    border-top: none;
    margin-top: 3.75rem;
    padding-top: 1.875rem;
    padding-bottom: 2.4rem;
  }
  &__title {
    margin-bottom: 3.4375rem;
    @include max-lg {
      margin-bottom: 1.875rem;
    }
    h2 {
      font-weight: 500;
      font-size: 2.25rem;
      letter-spacing: -0.04em;
      @include max-lg {
        font-weight: 500;
        font-size: 1.5rem;
        letter-spacing: -0.04em;
      }
    }
  }
  &__cards {
    display: flex;
    gap: 5rem;
    margin-left: -0.125rem;
    @include max-lg {
      flex-wrap: wrap;
      gap: unset;
      column-gap: 0.75rem;
      row-gap: 2.3rem;
      margin-left: 0;
    }
  }
  &__card {
    padding-left: 1.5rem;
    border-left: 1px solid #1cb4ff;
    height: 17.625rem;
    @include max-lg {
      height: auto;
    }
    &-value {
      line-height: 0;
      margin-bottom: 0.0625rem;
      @include max-lg {
        margin-bottom: -0.1rem;
      }
    }
    &-title {
      font-weight: 700;
      font-size: 2rem;
      letter-spacing: -0.05em;
      margin-bottom: 0.0625rem;
      @include max-lg {
        font-size: 1.1875rem;
        letter-spacing: -0.05em;
        margin-bottom: 0.5rem;
      }
    }
    &-desc {
      font-weight: 500;
      font-size: 1.25rem;
      line-height: 1.7rem;
      @include max-lg {
        font-size: 0.875rem;
        line-height: 1.08rem;
      }
    }

    &--1 {
      width: 26.1875rem;
      @include max-lg {
        width: calc(50% - 0.75rem / 2);
        .index-numbers__card-value {
          width: 64%;
        }
        .index-numbers__card-title {
          margin-bottom: 0.3rem;
        }
        .index-numbers__card-desc {
          width: 76%;
        }
      }
    }
    &--2 {
      width: 21.0625rem;
      @include max-lg {
        width: calc(50% - 0.75rem / 2);
        .index-numbers__card-value {
          width: 76%;
          margin-bottom: 0.1rem;
        }
        .index-numbers__card-title {
          margin-bottom: -0.1rem;
        }
        .index-numbers__card-desc {
          margin-top: 0.3rem;
        }
      }
    }
    &--3 {
      width: 20rem;
      @include max-lg {
        width: calc(50% - 0.75rem / 2);
        .index-numbers__card-value {
          width: 73%;
        }
      }
    }
    &--4 {
      width: 25rem;
      @include max-lg {
        width: calc(50% - 0.75rem / 2);
        .index-numbers__card-value {
          width: 39%;
        }
        .index-numbers__card-title {
          margin-bottom: 0.3rem;
        }
        .index-numbers__card-desc {
          width: 85%;
        }
      }
    }
  }
}
