@import "../service/media-mixin.scss";

.index-advantages {
  display: flex;
  gap: 1.1rem;
  @include max-lg {
    flex-direction: column;
    gap: 1.25rem;
  }
  &__title-n-image {
  }
  &__title {
    h2 {
      font-weight: 500;
      font-size: 2.25rem;
      letter-spacing: -0.04em;
      @include max-lg {
        font-size: 1.5rem;
        letter-spacing: -0.04em;
        color: #1cb4ff;
      }
    }
  }
  &__image {
    width: 40.625rem;
    margin-top: -1.2rem;
    margin-left: -4.5rem;
    line-height: 0;
    @include max-lg {
      display: none;
    }
    img {
      width: 100%;
    }
  }
  &__items {
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;
    @include max-lg {
      gap: 0.6rem;
    }
  }
  &__item {
    padding-top: 1.1875rem;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid #d9d9d9;
    @include max-lg {
      padding-bottom: 1.2rem;
    }
    &:last-child {
      border-bottom: none;
      @include max-lg {
        border-bottom: 1px solid #d9d9d9;
      }
    }
    &-title {
      font-weight: 500;
      font-size: 1.5rem;
      margin-bottom: 0.625rem;
      @include max-lg {
        width: 79%;
        font-weight: 500;
        font-size: 1.125rem;
        margin-bottom: 0.7rem;
      }
    }
    &-desc {
      font-weight: 400;
      font-size: 1rem;
      @include max-lg {
        font-size: 0.875rem;
      }
    }
  }
}
