.index-banner {
  height: 55.125rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #00000013;
  &__content {
    margin-bottom: 2.5rem;
  }
  &__title {
    width: 53.125rem;
    margin-bottom: 2.125rem;

    h1 {
      font-weight: 700;
      font-size: 3.375rem;
      line-height: 4.01625rem;
      color: #383838;
    }
  }
  &__buttons {
    display: flex;
    gap: 1.125rem;
    .button {
      padding: 1.25rem 2.875rem;
    }
  }
  &__cards {
    display: flex;
    gap: 0.5625rem;
    margin-top: 10.8rem;
  }
  &__card {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
    padding: 1.25rem 1.3125rem;
    padding-bottom: 0.875rem;
    border-radius: 0.75rem;
    background-color: #f4f8ff;
    color: #383838;
    width: 12.8125rem;
    &--large {
      width: 17.375rem;
    }
    &-text {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.38rem;
      margin-left: -0.4rem;
    }
    &-value {
      font-weight: 700;
      font-size: 3rem;
      letter-spacing: -0.04em;
      align-self: flex-end;
      margin-right: 0.6rem;
    }
  }

  &__image {
    margin-right: -6.375rem;
    width: 66.875rem;
    line-height: 0;
    flex-shrink: 0;
    transform: translate(-6.3rem, 0);
  }
}
