.index-news {
  margin-bottom: 6.5625rem;
  &__title {
    margin-bottom: 1.875rem;
    margin-left: -0.3rem;

    h2 {
      font-weight: 500;
      font-size: 2.25rem;
      letter-spacing: -0.04em;
    }
  }
  &__cards {
    display: flex;
    gap: 1.5rem;
    margin-left: -0.3rem;
    margin-right: -0.5rem;
  }
  &__card {
    &-big {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 0.75rem;
      flex-shrink: 0;
      width: 53.125rem;
      height: 22.875rem;
      padding: 2.25rem 2.3125rem 3.5625rem 2.375rem;
      background-color: #1cb4ff;
      color: #fff;
      &-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
      &-title {
        font-weight: 500;
        font-size: 2.25rem;
        letter-spacing: -0.04em;
      }
      &-date {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: -0.02em;
      }
      &-logo {
        display: flex;
        justify-content: flex-end;
        img {
          width: 8.625rem;
        }
      }
    }
    &-image {
      width: 100%;
      height: 15.5rem;
      margin-bottom: 1.0625rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.75rem;
      }
    }
    &-content {
    }
    &-title {
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 1.755rem;
      letter-spacing: -0.04em;
      margin-bottom: 1.25rem;
      margin-left: 0.2rem;
      .icon {
        width: 1.25rem;
        height: 1.25rem;
        margin-top: 0.32rem;
        margin-left: 0.34rem;
        color: #1cb4ff;
      }
    }
    &-date {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5rem;
      letter-spacing: -0.02em;
      opacity: 0.5;
      margin-left: 0.3rem;
    }
  }
}
