.index-advantages {
  display: flex;
  gap: 1.1rem;
  &__title-n-image {
  }
  &__title {
    h2 {
      font-weight: 500;
      font-size: 2.25rem;
      letter-spacing: -0.04em;
    }
  }
  &__image {
    width: 40.625rem;
    margin-top: -1.2rem;
    margin-left: -4.5rem;
    line-height: 0;
    img {
      width: 100%;
    }
  }
  &__items {
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;
  }
  &__item {
    padding-top: 1.1875rem;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid #d9d9d9;
    &:last-child {
      border-bottom: none;
    }
    &-title {
      font-weight: 500;
      font-size: 1.5rem;
      margin-bottom: 0.625rem;
    }
    &-desc {
      font-weight: 400;
      font-size: 1rem;
    }
  }
}
